

body {
	@include font;
	margin: 0;
	color: darken( $grey, 60% );
	background: $grey;

	font-size: 14px;
	line-height: 100%;

	@include respond-to( $bp-m ) {
		font-size: 16px;
		line-height: 100%;
	}
}

h1, h2, h3, h4, h5, h6 {
	@include font-bold;
	line-height: 1.5em;
}

p {
	@include font;
	line-height: 1.5em;
}

h1 {
	font-size: 1.6em;
	line-height: 1.4em;
	color: $red;
	
	@include respond-to( $bp-m ) {
		font-size: 2em;
	}

	span {
		opacity: .7;
	}
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
	line-height: 1.4em;
}

h4 {
	font-size: 1.2em;
}

p {
	padding: 8px 0;

	@include respond-to( $bp-m ) {
		padding: 12px 0;
	}
}

strong {
	font-weight: bold;
}

a {
	color: $red;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

img {
	max-width: 100%;

	&.alignleft {
		float: left;
		margin: 0 10px 10px 0;
	}

	&.alignright {
		float: right;
		margin: 0 0 10px 10px;
	}

	&.aligncenter {
		display: block;
		margin: 0 auto;
	}
}

code, pre {
	font-family: monospace;
	background-color: #eee;
	padding: 5px 10px;
	font-size: 1.1em;
	line-height: 1.4em;
}

pre {
	max-width: 100%;
	overflow: auto;
	margin: 15px 0;
	font-size: 1em;
	min-height: 35px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.pagination {
	padding: 15px 0;
	text-align: center;
	font-size: 15px;
	line-height: 15px;
	@include font;

	a {
		padding: 12px;
		background: white;
		color: $grey-dark;
		text-decoration: none;
		display: inline-block;

		&:hover {
			background: rgba( $grey, .3 );
		}
	}

	.current {
		padding: 12px;
		display: inline-block;
		background: rgba( $grey, .3 );
	}
}

