

header {
	position: relative;

	.logo {
		@include padding;
		padding-right: 70px;
		border-bottom: 10px solid rgba( $grey, .4 );

		@include respond-to( $bp-m ) {
			border-bottom: 0;

			img {
				max-width: 350px;
			}
		}
	}

	.social {
		display: none;

		@include respond-to( $bp-m ) {
			display: block;
			position: absolute;
			right: 30px;
			top: 40px;

			a {
				opacity: .8;

				&:hover {
					opacity: 1;
				}

				img {
					margin-right: 10px;
					max-width: 36px;
				}
			}
		}
	}

	nav {
		@include clearfix;
		position: relative;

		button {
			position: absolute;
			right: 10px;
			top: -70px;
			width: 40px;
			height: 40px;
			border: 0;
			padding: 0;
			background: white;
			color: transparent;
			background: url(../img/icon-menu.png) center center no-repeat;
			overflow: hidden;
			text-indent: 1000px;
			
			@include respond-to( 400px ) {
				right: 20px;
			}

			@include respond-to( $bp-m ) {
				display: none;
			}
		}

		.nav-menu {
			display: none;
			background: $red;
			color: white;
			position: relative;
			z-index: 1000;
			
			padding: 0;
			@include respond-to( $bp-m ) { padding: 0 20px; }
			@include respond-to( $bp-l ) { padding: 0 25px; }
			@include respond-to( $bp-xl ) { padding: 0 35px; }
			
			@include respond-to( $bp-m ) {
				display: block;
				@include clearfix;
			}

			li {
				@include respond-to( $bp-m ) {
					box-shadow: none;
					position: relative;
					display: inline-block;
				}

				a {
					@include font-bold;
					display: block;
					padding: 15px 5px;
					line-height: 1.4em;
					color: white;
					text-decoration: none;
					text-transform: uppercase;
					width: 100%;
					transition: 400ms background-color ease-in-out;
					background-color: transparent;
					text-align: center;

					@include respond-to( $bp-m ) {
						display: inline-block;
						text-align: left;
						padding: 15px 10px;
					}

					@include respond-to( $bp-l ) {
						padding: 15px 15px;
					}
				}

				&:hover, &.open {
					a {
						background-color: lighten( $red, 5% );
						color: white;
					}

					ul.sub-menu {
						@include respond-to( $bp-m ) {
							display: block;
						}
					}
				}

				ul.sub-menu {
					display: none;
					margin-bottom: 3px;
					box-shadow: 0 20px 20px rgba( black, .3 );
					opacity: .9;

					@include respond-to( $bp-m ) {
						position: absolute;
						left: 0;
						top: 50px;
						min-width: 100%;
						background-color: lighten( $red, 5% );
						@include clearfix;
					}

					li {
						display: block;
						width: 100%;

						a {
							@include font;
							font-size: 15px;
							line-height: 18px;
							display: block;
							padding: 10px 5px;
							color: rgba( white, .6 );
							white-space: nowrap;

							@include respond-to( $bp-m ) {
								padding: 10px;

								&:hover {
									background-color: lighten( $red, 8% );
									color: rgba( white, 1 );
								}
							}

							@include respond-to( $bp-l ) {
								padding: 10px 15px;
							}
						}
					}
				}
			}
		}
	}
}